<!DOCTYPE html>
<html lang="en">

<!-- Head Section Starts -->

<head>
    {% load static %}
    <title>HTI FINANCE APP</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="{% static 'bootstrap/jquery.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" ></script>
    <link rel="stylesheet" href='{% static "css/stylesheet.css" %}'>
</head>

{% block content %}
{% endblock %}

<body>

</body>

</html>