{% extends "finance_app/base.html" %}
{% block home_page_content %}
{% load static %}

<h3> {{ user.username }} Logged in Successfully </h3>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary btn-block">Show Lending History</button>
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary btn-block">Show Borrowing History</button>
    </div>
      <div class="col-md-2">
    <button type="submit" class="btn btn-primary btn-block" onclick="show_roles_data()">Show Roles</button>
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary btn-block" onclick="show_borrowing_history_form()">Add Lending History</button>
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary btn-block" onclick="show_lending_history_form()">Add Borrowing History</button>
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary btn-block" onclick="show_role_form()">Add Roles</button>
    </div>
  </div>
</div>

<!-- Role Form -->
<div class="form-popup" id="role_form" style="display: none;">
  <form method="POST">
    {% csrf_token %}
      <table class="table table-hover table-dark">
        {% for field in RolesForm.visible_fields %}
        <tr>
          <th scope="col">{{ field.label_tag }}</th>
          <td> {{ field }} </td>
        <tr>
        {% endfor %}
      </table>
    <input type="submit" value="Save">
  </form>
</div>

<!-- Lending History Form -->

<div class="form-popup" id="lending_history_form" style="display: none;">
  <form method="POST">
    {% csrf_token %}
      <table class="table table-hover table-dark">
        {% for field in LendingDetailForm.visible_fields %}
        <tr>
          <th scope="col">{{ field.label_tag }}</th>
          <td> {{ field }} </td>
        <tr>
        {% endfor %}
      </table>
    <input type="submit" value="Save">
  </form>
</div>

<!-- Borrowing History Form -->

<div class="form-popup" id="borrowing_history_form" style="display: none;">
  <form method="POST">
    {% csrf_token %}
      <table class="table table-hover table-dark">
        {% for field in BorrowingDetailForm.visible_fields %}
        <tr>
          <th scope="col">{{ field.label_tag }}</th>
          <td> {{ field }} </td>
        <tr>
        {% endfor %}
      </table>
    <input type="submit" value="Save">
  </form>
</div>


<!-- Roles Queryset-->
<div class="form-popup" id="roles_data" style="display: none;">
  <table class="table table-hover table-dark" >
    <tr>
      <th scope="col">Roles</th>
      {% for role in RolesQuerySet %}
      <td> {{ role.role }} </td>
      {% endfor %}
    <tr>
  </table>
</div>

<script>
function show_role_form() {
  document.getElementById("role_form").style.display = "block";
  document.getElementById("lending_history_form").style.display = "none";
  document.getElementById("borrowing_history_form").style.display = "none";
  document.getElementById("roles_data").style.display = "none";
}

function show_lending_history_form() {
  document.getElementById("role_form").style.display = "none";
  document.getElementById("lending_history_form").style.display = "block";
  document.getElementById("borrowing_history_form").style.display = "none";
  document.getElementById("roles_data").style.display = "none";
}

function show_borrowing_history_form() {
  document.getElementById("role_form").style.display = "none";
  document.getElementById("lending_history_form").style.display = "none";
  document.getElementById("borrowing_history_form").style.display = "block";
  document.getElementById("roles_data").style.display = "none";
}

function show_roles_data() {
  document.getElementById("role_form").style.display = "none";
  document.getElementById("lending_history_form").style.display = "none";
  document.getElementById("borrowing_history_form").style.display = "none";
  document.getElementById("roles_data").style.display = "block";

}
</script>



{% endblock home_page_content %}


